#main {
    background-image: url(../img/checkout/backgound_checkout_0000_Layer-1.png);
    background-repeat: repeat-x;
}
#body_content{
    margin-top: 130px;
    margin-right: 150px;
    margin-bottom: 30px;
    margin-left: 180px;
}
#body_content .page_title{
    font-size: 60px;
    font-weight: bold;
    color: #e53328 ;
}
#main_shopping_cart{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: auto;
    padding-right: auto;
    height: auto;
}
.tbl_cart_order{
    border-collapse: collapse;
    border: 20px solid #d7d7d7;
    font-size: 13px;
    width: 100%;
    height: 250px;
}
.tbl_cart_order th {
    color: #a54715;
    font-size: 15px;
    border: 20px solid #d7d7d7;
    background-color: #f9ad81;
}
.tbl_cart_order td{
    border: 20px solid;
    background-color: #ffa9da;
    text-align: center;
}
.tbl_cart_order td:first-child{
    border: 150px;
}
.tbl_cart_order .product_name{
    text-align: left;
    margin-left: 10px;
    color: #e53328;
    font-size: 18px ;
    
}