<<<<<<< HEAD
.image2 {
    float: right;
    height: 150px;
    width: 150px;
    
}
.image {
    float: left ;
    height: 100px;
    width: 150px;
}
img{
    max-width: 100%;
=======
.image2 {
    float: right;
    height: 150px;
    width: 150px;
    
}
.image {
    float: left ;
    height: 100px;
    width: 150px;
}
img{
    max-width: 100%;
>>>>>>> ccec2e6b3385a63909de80505480a95c1b5745cc
}