<<<<<<< HEAD
.background{
    float:left;
    display: flex;
    height: 250px;
    width: 170px;
}
img{
    max-width: 100%;
=======
.background{
    float:left;
    display: flex;
    height: 250px;
    width: 170px;
}
img{
    max-width: 100%;
>>>>>>> ccec2e6b3385a63909de80505480a95c1b5745cc
}