img {
    display: block;
    margin-left: 100px;
    margin-right: auto;
    width: 75%;
  }
.hình_ảnh {
    display: flex;
    
}
.Gioi_thieu{
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 5px ;
}
